@inherits LayoutComponentBase
@using MickeyUtilityWeb.Shared
@using Microsoft.AspNetCore.Components.Authorization

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <LoginDisplay />
        </div>

        <article class="content px-4">
            <CascadingAuthenticationState>
                @Body
            </CascadingAuthenticationState>
        </article>
    </main>
</div>