<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">MickeyUtilityWeb</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="sgitinerary">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> EditSG
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="itinerary">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Itinerary
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="purchaselist">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> PurchaseList
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="travelbudget">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> TravelBudget
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="todolist">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> To Do List
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="shoppinglist">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> ShoppingList
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="purchasetrackerlist">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Purchasetracker
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="uidesignItinerary">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> uidesignItinerary
            </NavLink>
        </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
